
.singup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    width: 100%;
    height: calc(100vh - 6rem);
}
.singup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 10%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 35%;
    height: 30rem;
}
.singup-form h1{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1.8rem;
}
.form-group input{
    width: 300px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 1rem;
    font-size: 1.5rem;
    color: #333;
}
.singup-btn{
    width: 130px;
    height: 50px;
    background-color: #f9a109;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 5px;
}
.check-email{
    background-color: #f9a109;
    color: white;
    font-size: 1.5rem;
}